.icon-ars:before {
  content: "\e900";
}
.icon-azn:before {
  content: "\e901";
}
.icon-bgn:before {
  content: "\e902";
}
.icon-brl:before {
  content: "\e903";
}
.icon-cop:before {
  content: "\e904";
}
.icon-eur:before {
  content: "\e905";
}
.icon-idr:before {
  content: "\e906";
}
.icon-inr:before {
  content: "\e907";
}
.icon-kzt:before {
  content: "\e908";
}
.icon-mdl:before {
  content: "\e909";
}
.icon-pln:before {
  content: "\e90a";
}
.icon-rub:before {
  content: "\e90b";
}
.icon-try:before {
  content: "\e90c";
}
.icon-uah:before {
  content: "\e90d";
}
.icon-usd:before {
  content: "\e90e";
}
.icon-uzs:before {
  content: "\e90f";
}
.icon-event:before {
  content: "\e912";
}
.icon-money:before {
  content: "\e910";
}
.icon-coefficient:before {
  content: "\e911";
}
.icon-close:before {
  content: "\e913";
}
.icon-gift1:before {
  content: "\e99f";
}
.icon-person:before {
  content: "\e915";
}
.icon-wallet:before {
  content: "\e916";
}
.icon-arrow-right:before {
  content: "\e914";
}
.icon-touch:before {
  content: "\e917";
}
.icon-Sol:before {
  content: "\e918";
}
.icon-pen-money:before {
  content: "\e919";
}
.icon-star:before {
  content: "\e91a";
}
.icon-card:before {
  content: "\e91b";
}
.icon-calendar:before {
  content: "\e91c";
}
.icon-bet:before {
  content: "\e91d";
}
